<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Quiz_Meio_Ambiente.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Quiz_Meio_Ambiente.Properties.Settings.DB" connectionString="Data Source=DP619-07;Initial Catalog=DB_quiz;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Quiz_Meio_Ambiente.Properties.Settings>
            <setting name="qtdQuestoes" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="tempoQuestoes" serializeAs="String">
                <value>21</value>
            </setting>
        </Quiz_Meio_Ambiente.Properties.Settings>
    </userSettings>
</configuration>